<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Test.js"></script>
    <script src="Scripts/Filters.js"></script>
    <link href="Styles.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <input type="text" ng-model="searchText.name" placeholder="Search name" />
        <input type="text" ng-model="searchText.suburb" placeholder="Search suburb" />
        <input type="checkbox" ng-model="exactMatch" />Exact Match
        <br /><br />
        <input type="checkbox" ng-model="hideSalary" />Hide Salary
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th ng-hide="hideSalary">Salary</th>
                    <th>Suburb</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:searchText:exactMatch">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.gender | gender }}</td>
                    <td ng-hide="hideSalary">{{ employee.salary }}</td>
                    <td>{{ employee.suburb }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>